<div class="box">
    <div class="right-side">
      <div class="box-topic">Insurance </div>
      <br>

      <div class="text">TB test</div>
      <div class="indicator">
        <span class="text">Negative</span>
      </div>
      <br>
      <div class="text">Covid</div>
      <br>
      <div class="indicator">
        <span class="text">Negative</span>
      </div>
      <br>
      <div class="text">Jaundice</div>
      <div class="indicator">
        <span class="text">Negative</span>
      </div>
      <br>
      <div class="text">TB test</div>
      <div class="indicator">
        <span class="text">Negative</span>
      </div>
    </div>
  </div>