<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> CureNSure Dashboard</title>
  <link rel="stylesheet" href="doctor.component.scss">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">CureNsure</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/doctor" class="active">
          <i class='bx bx-grid-alt'></i>

          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/profile">
          <i class='bx bx-box'></i>
          <span class="links_name">Profile</span>
        </a>
      </li>
      <li>
        <a href="/bookappointment">
          <i class='bx bx-user'></i>
          <span class="links_name">Appointment Summary</span>
        </a>
      </li>
      <li>
        <a href="/view_appointment_doctor">
          <i class='bx bx-message'></i>
          <span class="links_name">View Appointments</span>
        </a>
      </li>
      <li>
        <a href="/favorites">
          <i class='bx bx-heart'></i>
          <span class="links_name">Favorites</span>
        </a>
      </li>
      <!-- <li>
            <a href="#">
              <i class='bx bx-cog' ></i>
              <span class="links_name">Setting</span>
            </a>
          </li> -->
      <li class="log_out">
        <button mat-raised-button
                    class="long-button"
                    (click)="logout()"
            >Logout</button>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>

    </nav>
    <div class="home-content">
      <div class="overview-boxes">
        <div fxLayout="row" fxFlex="10000" class="box">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Profile</b>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="text"><b>Name</b> - {{details?.user_first_name}} {{details?.user_last_name}}
              </div><br>
              <div class="text"><b>Hospital Name</b> - {{details?.hospital_name}}</div><br>
              <div class="text"><b>Speciality</b> - {{details?.speciality}}</div><br>
              <div class="text"><b>Email</b> - {{details?.user_email}}</div><br>
              <div class="text"><b>Gender</b> - {{details?.user_gender}}</div><br>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <!-- <mat-divider></mat-divider>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Doctor</div>
        <br>
        <div class="number">20 Oct 2022</div>
        <div class="indicator">
          <br>
          <br>

          <span class="number">11:30</span>
        </div>
      </div>
    </div> -->
        <mat-divider></mat-divider><br><br>
        <!-- <div fxLayout="row" fxFlex="10000" class="box">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Upcoming Appointments</b>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="box">
                <div class="right-side">
                  <div class="text"><b>Patient Name</b> - Neil</div>
                  <div class="number"><b>Date</b> - 19 Dec 2022</div>
                  <div class="number"><b>Time</b> - 7:45 pm</div>
                </div>
              </div>
              <br>
              <div class="box">
                <div class="right-side">
                  <div class="text"><b>Patient Name</b> - Patil</div>
                  <div class="number"><b>Date</b> - 12 Dec 2022</div>
                  <div class="number"><b>Time</b> - 10:45 am</div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxFlex="10000" class="box">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Previous Appointments</b>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="box">
                <div class="right-side">
                  <div class="text"><b>Patient Name</b> - Shinchan</div>
                  <div class="number"><b>Date</b> - 19 Sep 2022</div>
                  <div class="number"><b>Time</b> - 9:00 am</div>
                </div>
              </div><br>
              <div class="box">
                <div class="right-side">
                  <div class="text"><b>Patient Name</b> - Jahnavi</div>
                  <div class="number"><b>Date</b> - 12 Nov 2022</div>
                  <div class="number"><b>Time</b> - 12:45 pm</div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div> -->
        <mat-divider></mat-divider>
        <div fxLayout="row" fxFlex="10000" class="box">
          <form>
            <b>
              <strong>Create Slot</strong>
            </b><br>
            <section>
              <div fxLayout="row" fxLayoutGap="8px">
                <div fxLayout="row" fxLayoutGap="8px">
                  <form [formGroup]="slot">
                    <mat-form-field fxFlex="40" appearance="outline">
                      <mat-label class="mat-body-1">Doctor ID</mat-label>
                      <input matInput formControlName="doctor_user_id" type="string">
                    </mat-form-field>

                    <mat-form-field fxFlex="40" appearance="outline">
                      <mat-label class="mat-body-1">Choose a date</mat-label>
                      <input readonly matInput [matDatepicker]="picker" placeholder="MM-DD-YYYY" formControlName="date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field fxFlex="40" appearance="outline">
                      <mat-label class="mat-body-1">Time</mat-label>
                      <input matInput formControlName="time">
                    </mat-form-field>

                    <mat-form-field fxFlex="40" appearance="outline">
                      <mat-label class="mat-body-1">Note</mat-label>
                      <input matInput formControlName="note">
                    </mat-form-field>
                  </form>
                </div>

              </div>
            </section>
            <div fxLayout="column" fxLayoutGap="32px">
              <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start end">
                <button mat-raised-button matTooltip="Save" [disabled]="buttonDisable">Create</button>
              </div>
            </div>
          </form>
        </div>
      <div *ngIf="upcomingappointment$ | async as viewUpcomingAppointment"> 
        <table mat-table [dataSource]="viewUpcomingAppointment" matSort class="mat-elevation-z0">
            <ng-container matColumnDef="DoctorUserid">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell data-label="Date" *matCellDef="let element">{{element.doc_user_id}}</td>
            </ng-container>
            <ng-container matColumnDef="Note">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell data-label="Title" *matCellDef="let element">{{element.note}}</td>
            </ng-container>
            <ng-container matColumnDef="PatientuserID">
                <th mat-header-cell *matHeaderCellDef>View</th>
                <td mat-cell data-label="View" *matCellDef="let element">
                    {{element.patient_user_id}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Time">
                <th mat-header-cell *matHeaderCellDef>View</th>
                <td mat-cell data-label="View" *matCellDef="let element">
                    {{element.time}}
                </td>
            </ng-container>
            <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell data-label="Delete" *matCellDef="let element"> 
                    {{element.type}}                 
            </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      </div>
    </div>
  </section>
</body>

</html>