<mat-progress-bar mode="indeterminate" *ngIf="showloader"></mat-progress-bar>
<div>
  <div>
    <!-- <p>profile works!</p> -->
    <p> .</p>
    <p> .</p>
    <div fxLayout fxLayoutAlign="space-between start" fxLayoutGap="3px">
      <section fxFlex="35">
        <div class="home-content">
          <div class="overview-boxes">
            <div class="box">
              <div class="right-side">
                <div class="box-topic"><b>Name</b> - {{details?.user_title}} {{details?.user_first_name}}
                  {{details?.user_last_name}}</div>
                <br>
                <div class="text"><b>Age</b> - {{details?.user_age}}</div>
                <br>
                <div class="text"><b>Gender</b> - {{details?.user_gender}}</div><br>
                <div class="text"><b>Height</b> - {{details?.user_height}}</div><br>
                <div class="text"><b>Email</b> - {{details?.user_email}}</div><br>
                <div class="text"><b>Address</b> - {{details?.user_city}} {{details?.user_address}}</div><br>
                <div class="text"><b>ZipCode</b> - {{details?.user_zipcode}}</div><br>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section fxFlex="35">
        <div class="home-content">
          <div class="overview-boxes">

            <div class="box">
              <div class="right-side"><br><br><br>
                <div class="bom-topic"><b>Current plan</b></div>
                <br>
                <div class="bom-topic">
                  <!-- <mat-icon>star</mat-icon>  -->
                  {{plan_type}}
                </div>
                <br>
                <div class="bom-topic"><b>Insurance Agent</b></div>
                <br>
                <div class="bom-topic">
                  <!-- <mat-icon>person</mat-icon> -->
                   Dondapati
                </div>

                <br><br><br>

              </div>

            </div>
          </div>
        </div>
      </section>
      <section fxFlex="30">
        <div class="home-content">
          <div class="overview-boxes">

            <div class="box">
              <div class="right-side">
                <br><br><br><br><br>
                <div class="bom-topic"><b>Total Amount</b> </div>
                <br>
                <div class="bom-topic"> {{premiaum}}
                  <!-- <mat-icon>amount</mat-icon> $500 -->
                </div>

                <br><br><br><br><br>

              </div>

            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
  <div>
    <mat-form-field appearance="outline" class="search-packages">
      <mat-label>Search by Package plan type</mat-label>
      <mat-icon matSuffix *ngIf="!packageSearchFormControl.value">search</mat-icon>
      <input matInput placeholder="Ex: Vitals package" [formControl]="packageSearchFormControl"
        [matAutocomplete]="search">
      <button mat-button *ngIf="packageSearchFormControl.value" matSuffix mat-icon-button aria-label="Clear"
        (click)="packageSearchFormControl.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-autocomplete #search="matAutocomplete">
      <mat-option *ngFor="let result of package_type" [value]="result" (click)="getvalue(result)">{{result}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="packages-list" *ngIf="all">
    <div *ngFor="let package of packages">
      <div class="package-card mat-elevation-z1">
        <div fxLayout="column">
          <div class="package-name mat-elevation-z1" fxLayout="column" fxLayoutAlign="space-between none" fxFlex="15">
            <div fxLayout="column">
              <div class="mat-body-2">Healthcare Packages</div>
              <!-- <div fxLayout="row" fxLayoutGap="5px">
                                <div class="mat-caption">Includes</div>
                                <div class="mat-caption include-tests" fxLayout="row" fxLayoutAlign="center center"><strong>{{package.tests.length}} test(s)</strong></div>
                            </div> -->
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div class="mat-title">{{package.monthly_premium}}</div>
              <button mat-stroked-button [disabled]="showloader === true" *ngIf="packageExistsInCart(package) === false"
                (click)="addToCart(package)">
                <mat-icon>add_shopping_cart</mat-icon>&nbsp;Pay Now
              </button>
              <!-- <button mat-stroked-button [disabled]="showloader === true" *ngIf="packageExistsInCart(package) === false"><mat-icon>add_shopping_cart</mat-icon>&nbsp;Add to cart</button> -->
              <!-- <button mat-stroked-button *ngIf="packageExistsInCart(package) === true"><mat-icon>done</mat-icon>&nbsp;Added to cart</button> -->
            </div>
          </div>
          <div class="packages-list-items-container">
            <div fxLayout="column" fxLayoutGap="8px">
              <div fxLayout="row" fxLayoutGap="16px">
                <p class="mat-body-1"> Insured By : {{package.agent_user_id}} </p>
              </div>
              <div fxLayout="row" fxLayoutGap="16px">
                <p class="mat-body-1"> Plan Type : <strong>{{package.plan_type}}</strong></p>
              </div>
              <div fxLayout="row" fxLayoutGap="16px">
                <p class="mat-body-1"> Monthly Premium : {{package.monthly_premium}} </p>
              </div>
              <div fxLayout="row" fxLayoutGap="16px">
                <p class="mat-body-1">Additional Coverage : $50 (if already using same insurance provider) </p>
              </div>

            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="7px" class="common-tests" fxFlex="15">
            <div class="mat-caption"><strong>Also includes Monthy check ups</strong></div>
            <div class="mat-caption">Basic tests : SpO2, Temp, Weight, Height, BMI, Pulse, Systolic BP, Diastolic BP
            </div>

          </div>
        </div>
      </div>

      <!-- <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="mat-title">{{package.monthly_premium}}</div>
        <button mat-stroked-button [disabled]="showloader === true" *ngIf="packageExistsInCart(package) === false"
          (click)="addToCart(package)">
          <mat-icon>add_shopping_cart</mat-icon>&nbsp;Add to cart
        </button> -->
      <!-- <button mat-stroked-button [disabled]="showloader === true" *ngIf="packageExistsInCart(package) === false"><mat-icon>add_shopping_cart</mat-icon>&nbsp;Add to cart</button> -->
      <!-- <button mat-stroked-button
                *ngIf="packageExistsInCart(package) === true"><mat-icon>done</mat-icon>&nbsp;Added to cart</button> -->
      <!-- </div>
    </div> -->
      <!-- <div class="packages-list-items-container">
      <div fxLayout="column" fxLayoutGap="8px">
        <div fxLayout="row" fxLayoutGap="16px">
          <p class="mat-body-1"> Insured By : {{package.agent_user_id}} </p>
        </div>
        <div fxLayout="row" fxLayoutGap="16px">
          <p class="mat-body-1"> Plan Type : <strong>{{package.plan_type}}</strong></p>
        </div>
        <div fxLayout="row" fxLayoutGap="16px">
          <p class="mat-body-1"> Monthly Premium : {{package.monthly_premium}} </p>
        </div>
        <div fxLayout="row" fxLayoutGap="16px">
          <p class="mat-body-1">Additional Coverage : $50 (if already using same insurance provider) </p>
        </div>

      </div>
    </div> -->
      <!-- <div fxLayout="column" fxLayoutGap="7px" class="common-tests" fxFlex="15">
      <div class="mat-caption"><strong>Also includes Monthy check ups</strong></div>
      <div class="mat-caption">Basic tests : SpO2, Temp, Weight, Height, BMI, Pulse, Systolic BP, Diastolic BP
      </div>

    </div> -->
    </div>
  </div>
  <!-- </div>
</div>




</div> -->