<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> CureNSure Dashboard</title>
  <link rel="stylesheet" href="update-insurance.component.scss">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar" *ngIf="role === '1'">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">CureNsure</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/home" class="active">
          <i class='bx bx-grid-alt'></i>

          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/profile">
          <i class='bx bx-box'></i>
          <span class="links_name">Profile</span>
        </a>
      </li>
      <li>
        <a href="/bookappointment">
          <i class='bx bx-user'></i>
          <span class="links_name">Appointment Summary</span>
        </a>
      </li>
      <li>
        <a href="/view_appointment_patient">
            <i class='bx bx-message'></i>
            <span class="links_name">View Appointment</span>
        </a>
    </li>
      <li>
        <a href="/favorites">
          <i class='bx bx-heart'></i>
          <span class="links_name">Favorites</span>
        </a>
      </li>
      <!-- <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Setting</span>
          </a>
        </li> -->
      <li class="log_out">
        <button mat-raised-button class="long-button" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>


  <div class="sidebar" *ngIf="role === '2'">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">CureNsure</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/doctor" class="active">
          <i class='bx bx-grid-alt'></i>

          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/profile">
          <i class='bx bx-box'></i>
          <span class="links_name">Profile</span>
        </a>
      </li>
      <li>
        <a href="/view_appointment_doctor">
          <i class='bx bx-message'></i>
          <span class="links_name">View Appointments</span>
        </a>
      </li>
      <li class="log_out">
        <button mat-raised-button class="long-button" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>

  <div class="sidebar" *ngIf="role === '3'">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">CureNsure</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/insurance_home" class="active">
          <i class='bx bx-grid-alt'></i>

          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/profile">
          <i class='bx bx-box'></i>
          <span class="links_name">Profile</span>
        </a>
      </li>
      
      <li>
        <a href="/favorites">
          <i class='bx bx-heart'></i>
          <span class="links_name">Favorites</span>
        </a>
      </li>
     
      <li class="log_out">
        <button mat-raised-button class="long-button" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Update Profile</span>
      </div>
    </nav>
    <div class="home-content">
      <div class="overview-boxes">
        <form [formGroup]="patientRegister" fxFlex fxLayout="column" fxLayoutGap="0px">
            <strong class="head1">GENERAL DETAILS</strong>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
    
                <section fxFlex="50" fxLayoutGap="6px">
                    <mat-form-field appearance="outline" fxFlex="30">
                        <mat-label>First Name</mat-label>
                        <input matInput pattern="[a-zA-Z ]*" formControlName="firstName" required>
                        <mat-error *ngIf="patientRegister.get('firstName')?.hasError('required')">
                            <strong>Required</strong>
                        </mat-error>
                        <mat-error *ngIf="patientRegister.get('firstName')?.hasError('pattern')">
                            <strong>First Name Only Contains Alphabets</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="30">
                        <mat-label>Last Name</mat-label>
                        <input matInput pattern="[a-zA-Z ]*" formControlName="lastName" required>
                        <mat-error *ngIf="patientRegister.get('lastName')?.hasError('required')">
                            <strong>Required</strong>
                        </mat-error>
                        <mat-error *ngIf="patientRegister.get('lastName')?.hasError('pattern')">
                            <strong>Last Name Only Contains Alphabets</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="47">
                        <mat-label class="mat-body-1">Date Of Birth</mat-label>
                        <input readonly matInput [matDatepicker]="picker" placeholder="MM-DD-YYYY"
                            formControlName="dateOfBirth" [min]="minDob" [max]='maxDob' required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                    </mat-form-field>
                </section>
            </div>
            <mat-divider></mat-divider>
            <br />
            <strong class="head1">CONTACT DETAILS</strong>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
                <section fxFlex="50" fxLayoutGap="16px">
                    <mat-form-field appearance="outline" fxFlex="47">
                        <mat-label>Email*</mat-label>
                        <input matInput type="email" formControlName="email">
                        <mat-error *ngIf="patientRegister.get('email')?.hasError('required')">
                            <strong>Required</strong>
                        </mat-error>
                        <mat-error *ngIf="patientRegister.get('email')?.hasError('email')">
                            <strong>Enter valid Email</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="47">
                        <mat-label class="mat-body-1">10 digit Mobile Number</mat-label>
                        <input matInput placeholder="Mobile Number" formControlName="mobileNumber"
                            (keypress)="numberOnly($event)" maxlength="10" required>
                        <mat-error *ngIf="patientRegister.get('mobileNumber')?.hasError('min')">
                            <strong>Enter valid Phone Number</strong>
                        </mat-error>
                        <mat-error *ngIf="patientRegister.get('mobileNumber')?.hasError('required')">
                            <strong>Required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="47">
                        <mat-label class="mat-body-1">Alternative Mobile Number</mat-label>
                        <input matInput formControlName="altMobileNumber" (keypress)="numberOnly($event)" maxlength="10"
                            required>
                        <mat-error *ngIf="patientRegister.get('altMobileNumber')?.hasError('min')">
                            <strong>Enter valid Phone Number</strong>
                        </mat-error>
                        <mat-error *ngIf="patientRegister.get('altMobileNumber')?.hasError('required')">
                            <strong>Required</strong>
                        </mat-error>
                    </mat-form-field>
                </section>
            </div>
            <mat-divider></mat-divider>
            <br />
            <strong class="head1">About</strong>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
                <section fxFlex="50" fxLayoutGap="16px">
    
                    <mat-form-field fxFlex="47" appearance="outline">
                        <mat-label>Agency Name</mat-label>
                        <input matInput formControlName="agencyName" maxLength="2" (keyup)="calculateDob()" required>
                        <mat-error *ngIf="patientRegister.get('agencyName')?.hasError('required')">
                            <strong>Required</strong>
                        </mat-error>
                    </mat-form-field>
                    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="6px" >
                        <div class="mat-subheading-1">Customer Range*</div>
                    <div fxLayoutGap="10px">
                        <mat-radio-group class="field-align" formControlName="customerRange" fxLayout="row"
                            fxLayoutAlign="start center" fxLayoutGap="20px">
                           
                            <mat-radio-button *ngFor="let customerRange of customerRangeList" [value]="customerRange"
                                [id]="customerRange">
                                {{customerRange}}</mat-radio-button> &nbsp;
                            <mat-error
                                *ngIf="patientRegister.get('customerRange')?.hasError('required') && (patientRegister.get('customerRange')?.dirty || patientRegister.get('customerRange')?.touched)">
                                <strong>Required</strong>
                            </mat-error>
                        </mat-radio-group>
                    </div>
                    </div>
                </section>
    
            </div>
    
            <mat-divider></mat-divider>
            <br>
            <strong class="head1">PRESENT ADDRESS DETAILS</strong>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
    
                <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
                    <section fxFlex="50" fxLayoutGap="16px">
                        <mat-form-field appearance="outline" fxFlex="47">
                            <mat-label class="mat-body-1">Address</mat-label>
                            <input matInput placeholder="City" formControlName="address" type="string">
                            <mat-error *ngIf="patientRegister.get('address')?.hasError('required')">
                                <strong>Required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="47">
                            <mat-label class="mat-body-1">City</mat-label>
                            <input matInput formControlName="city">
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="47">
                            <mat-label class="mat-body-1">Zipcode</mat-label>
                            <input matInput placeholder="Zipcode" formControlName="zipcode" maxLength="6"
                                (keypress)="numberOnly($event)">
                            <mat-error *ngIf="patientRegister.get('zipcode')?.errors">
                                <strong>ZipCode must contain 6 digits</strong>
                            </mat-error>
                        </mat-form-field>
                    </section>
                </div>
            </div>
            
            <div fxLayout="column" fxLayoutGap="32px">
                <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start end" *ngIf="!isLoading">
                    <button mat-raised-button color="primary" matTooltip="Save" (click)="openDialog()">Update</button>
                </div>
            </div>
        </form>

      </div>
    </div>

  </section>
</body>

</html>