<mat-progress-bar fxFlex mode="indeterminate" *ngIf="slotsLoading"></mat-progress-bar>

<!-- <div fxLayoutAlign="start start" class="container">
 
</div> -->

  <div fxLayout="column">
    <!-- *ngIf="mode!=='Email'" for email -->
    <div *ngIf="bookedApp===false"  fxLayout="column">
      <div fxLayout="column" fxLayoutGap="16px" *ngIf="isReviewAppointment">
        <div fxFlex fxLayoutAlign="end start">
          <!-- <button mat-icon-button color="accent" matTooltip="Guidelines"><mat-icon   (click)="guidelines()">info</mat-icon> </button> -->
       <div> <button mat-flat-button color="accent" class="terms" (click)="guidelines()" matTooltip="Terms and Conditions"> T&C
          </button></div>
        </div>
        <div class="mat-h3" fxLayoutAlign="start center">Enter Complaints/Symptoms</div>
       
        <mat-form-field appearance="outline">
          <mat-label>Please enter here...</mat-label>
          <!-- <input matInput [formControl]="others"> -->
          <textarea matInput [formControl]="others" placeholder=""></textarea>
        </mat-form-field>

      </div>
      <div>
        <button fxFlex="50" *ngIf="ifSymptom" mat-flat-button color="primary" (click)="saveCasesheetComplaints()">Submit your Complaints</button>
      </div>
     
      <!-- *ngIf="symptomsAdded" -->
      <div fxLayout="column" fxLayoutGap="16px" >
        <div class="mat-h4 pt-16" fxLayoutAlign="start center" *ngIf="mode!=='Email'">Select Appointment Date and Time</div>
        <div class="mat-h4" fxLayoutAlign="start center" *ngIf="mode==='Email'">Select Appointment Date</div>
        <mat-form-field appearance="outline">
          <mat-label>Pick a Date</mat-label>
          <input matInput [matDatepicker]="dp" [formControl]="date" [min]="minDob" [max]='maxDob'
            (dateChange)="scheduledDate()">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- <mat-divider></mat-divider> -->
      <mat-progress-bar mode="indeterminate" *ngIf="slotsLoading"></mat-progress-bar>
      <div class="mat-subheading-1" *ngIf="slotsLoading">Please wait for the slots.. </div>
    </div>
    <div class="mat-subheading-1" *ngIf="mode==='Email' && bookedApp===false" for email>Email will be sent within 24hrs
    
    </div>
    <!-- <div class="mat-subheading-1" *ngIf="mode==='Video' && bookedApp===false" for video (click)="scheduledDate(date)"> Video mode seleted
    </div>
    <div class="mat-subheading-1" *ngIf="mode==='Phone' && bookedApp===false" for phone (click)="scheduledDate(date)">Phone mode selected
    </div> -->
    <!-- <div class="mat-subheading-1" *ngIf="mode!=='Email'" for email>Select time of appointment</div> -->
    <!-- <div *ngIf="!hasNoIntervals" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start center">
      <div *ngFor="let interval of dates" class="time-interval">
        <button mat-stroked-button (click)="selectTime(interval)" [disabled]="!interval.isAvailable">
         <mat-icon>schedule</mat-icon>&nbsp;
          {{interval.from | epochToTimeWithoutMeridian}} - {{interval.to |epochToTime}}&nbsp;
          <mat-icon *ngIf="timeSelected&&selectedInterval===interval">done</mat-icon>
        </button>
      </div>
    </div> -->
    <!-- <button (click)="scrollToElement(target)">Save Date</button>  for email-->
    <!-- && symptomsAdded -->
    
    <div fxFlex fxLayout="column" *ngIf="mode!=='Email' && bookedApp===false">
     
      <!-- <div *ngIf="selectedDate" class="mat-subheading">Date : {{selectedDate}}</div> -->
      <div fxLayout="column" *ngIf="dates">

        <div   fxLayout="column" fxLayoutGap="32px" >
          <div class="cons-list" fxLayout="column" fxLayoutGap="8px" >
            <mat-tab-group animationDuration="0ms"  [selectedIndex]="selectedIndex">
              <mat-tab label="Morning">
                <ng-template matTabContent>
                  <div >
                    <!-- <div class="mat-title">Morning</div>
                    <mat-divider></mat-divider> -->
                    <div fxLayout="row wrap" fxLayoutGap="8px">
                      <button mat-stroked-button class="time-interval"  [ngClass]="{'btn-secondary' : timeSelected&&selectedInterval===interval}"
                        *ngFor="let interval of interval" [disabled]="!interval.isAvailable|| slotBooked(interval)">
                        {{interval.from | epochToTimeWithoutMeridian}} - {{interval.to |epochToTime}}&nbsp;
                        <!-- - {{interval.to |epochToTime}} -->
                        
                      </button>
                    </div>
                    <div class="text-error padd-16 text-center" *ngIf="selectedIndex===1">No slots available in the Morning</div>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label="Afternoon">
                <ng-template matTabContent>
                  <div>
                    <!-- <div class="mat-title">Afternoon</div>
                    <mat-divider></mat-divider> -->
                    <div fxLayout="row wrap" fxLayoutGap="8px">
                      <button mat-stroked-button class="time-interval"  [ngClass]="{'btn-secondary' : timeSelected&&selectedInterval===int}"
                        *ngFor="let int of interval" [disabled]="!int.isAvailable || slotBooked(int)">
                        {{int.from | epochToTimeWithoutMeridian}} - {{int.to |epochToTime}}&nbsp;
                        <!-- - {{interval.to |epochToTime}} -->
                        
                      </button>
                    </div>
                    <div class="text-error padd-16 text-center" *ngIf="selectedIndex===2">No slots available in the Afternoon</div>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab label="Evening">
                <ng-template matTabContent>

                  <div *ngIf="getEveningSlots(dates) as slots">
                    <!-- <div class="mat-title">Evening</div> -->
                    <!-- <mat-divider></mat-divider> -->
                    <div fxLayout="row wrap" fxLayoutGap="8px">
                      <button mat-stroked-button [ngClass]="{'btn-secondary' : timeSelected&&selectedInterval===interval}" class="time-interval" (click)="selectTime(interval)"
                        *ngFor="let interval of slots" [disabled]="!interval.isAvailable || slotBooked(interval)">
                        {{interval.from | epochToTimeWithoutMeridian}}- {{interval.to |epochToTime}}&nbsp;
                        <!-- - {{interval.to |epochToTime}} -->
                      </button>
                    </div>
                  </div>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </div>

        </div>
        <div class="mb-2" fxLayoutAlign="center center">
          <mat-chip-list>
            <mat-chip class="text-error padd-16 text-center" color="accent">No Slots</mat-chip>
          </mat-chip-list>
          <div>&nbsp;</div>
        </div>
      </div>
    </div>
    <!-- || mode==='Email' for email-->
    <mat-divider></mat-divider>
    <!-- <div class="mat-h4 text-center pt-16 text-primary"> Selected Time : {{selectedSlot | epochToDate}} | {{selectedSlot | epochToTime }} </div> -->
    <div fxLayoutAlign="center center">
      <button fxFlex mat-flat-button
        color="primary" (click)="goToSummary()">Confirm Slot</button>
    </div>
    <div fxLayoutAlign="center center" >
      <button fxFlex *ngIf="mode==='Email'" mat-flat-button
        color="primary" (click)="goAppointment()">Confirm Date</button>
    </div>

    <!-- <div class="mat-subheading-1" *ngIf="bookedApp">Your review appointment has been booked..</div> -->
    <!-- <button mat-flat-button color="primary"  (click)="goAppointment()">
      Open Appointment
    </button> -->
    <div>&nbsp;</div>
  </div>
