@import '~@angular/material/theming';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@400;600');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
//----------------------------------------------Typography---------------------------------------------
$medex-typography: mat-typography-config(
  $font-family: 'Open Sans',
  $display-4:     mat-typography-level(96px, 112px, 300, 'DM Sans'),
  $display-3:     mat-typography-level(56px, 56px, 400, 'DM Sans'),
  $display-2:     mat-typography-level(48px, 48px, 400, 'DM Sans'),
  $display-1:     mat-typography-level(34px, 40px, 400, 'DM Sans'),
  $headline:      mat-typography-level(24px, 32px, 400, 'DM Sans'),
  $title:         mat-typography-level(20px, 32px, 500, 'DM Sans'),
  $subheading-2:  mat-typography-level(16px, 28px, 700, 'DM Sans'),

  $subheading-1:  mat-typography-level(15px, 24px, 400, 'Open Sans'),
  $body-1:        mat-typography-level(14px, 20px, 400, 'Open Sans'),
  $body-2:        mat-typography-level(14px, 24px, 600, 'Open Sans'),
  $caption:       mat-typography-level(12px, 20px, 400, 'Open Sans'),
  $button:        mat-typography-level(14px, 14px, 500, 'Open Sans'),
    // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(inherit, 1.125, 400)
);


//----------------------------------------------Typography---------------------------------------------


@include mat-core($medex-typography);



$apollo-palette-primary: (
  50 : #e0f0f3,
  100 : #b3d9e2,
  200 : #80bfcf,
  300 : #4da5bb,
  400 : #2692ad,
  500 : #007f9e,
  600 : #007796,
  700 : #006c8c,
  800 : #006282,
  900 : #004f70,
  A100 : #9fddff,
  A200 : #6ccbff,
  A400 : #39baff,
  A700 : #1fb1ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);



$apollo-app-warn: (
  50 : #fff6e0,
  100 : #ffe8b3,
  200 : #ffd980,
  300 : #ffca4d,
  400 : #ffbe26,
  500 : #ffb300,
  600 : #ffac00,
  700 : #ffa300,
  800 : #ff9a00,
  900 : #ff8b00,
  A100 : #ffffff,
  A200 : #fff9f2,
  A400 : #ffdfbf,
  A700 : #ffd2a6,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);




$candy-app-primary: mat-palette($apollo-palette-primary);
$candy-app-accent:  mat-palette($apollo-app-warn);
$candy-app-warn:    mat-palette($mat-red);

$medex-app-theme: mat-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn,
  )
));

@include angular-material-theme($medex-app-theme);
