
<div fxLayout="column" fxLayoutAlign="center center" class="register-leftPanel" fxFlex="1000">
       
  <div fxLayout="row">
    <br>
    <br>
    <br>
    <br>
  </div>
  <img src="/assets/img/home.jpeg" alt="CureNsure">
  <!-- <div class="mat-body-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</div> -->
</div>
<div fxLayout="column" fxFlex="10000">


<div id="login-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="header-logo">
    
  </div>
  
  <div class="mat-headline">CureNsure</div>
  <div class="mat-body-1" id="subtitle">Welcome Log in to continue to Your Account</div>
<form [formGroup]="loginForm">
  <mat-form-field appearance="fill">
    <mat-icon matSuffix>mail_outline</mat-icon>
    <mat-label>Email Address</mat-label>
    <input matInput formControlName="email" type="email">
    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
      <strong>Required</strong>
    </mat-error>
    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
      <strong>Enter Valid Email</strong>
    </mat-error>
  </mat-form-field>
  <!-- fontSet="material-icons-outlined" -->

  <mat-form-field appearance="fill">
    <mat-icon matSuffix>visibility_off</mat-icon>
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password">
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
      <strong>Required</strong>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button class="submit-button" [disabled]="buttonDisable" (click)="postLoginCredentials()">Continue</button>
</form>

<div *ngIf="invalid">
  <mat-label>Invalid username or password</mat-label>
</div>
<br>
<div>
  <div class="g-signin2"  data-onsuccess="onSignIn" data-longtitle="true"></div>
  <br>
  <button mat-raised-button
              class="long-button"
              (click)="dialogRole()"
      >Register as New User</button>
</div>
<script>
 function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}
</script>
</div>
</div>