<!-- <p>payment works!</p>

<p> add selected app details and amount </p> -->
<div class="home-content">
    <div class="overview-boxes">
        <div class="box">
            <div class="right-side">
                <div class="text">Appointment ID - <b>{{payment?.appointment_id}}</b></div><br>
                <div class="text">Doctor ID - <b>{{payment?.doc_user_id}}</b></div><br>
                <div class="text">Date - <b>{{payment?.date}}</b></div><br>
                <div class="text">Time - <b>{{payment?.time}} {{payment?.ampm}}</b></div><br>
                <div class="number">Amount - <b>$300</b></div><br>
            </div>
        </div>
    </div>
</div>


<button mat-flat-button color="primary" (click)="save()">PAY NOW</button>