*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.packages-container {
  // height: 100vh;
  // overflow-y: scroll;
  padding: 32px;
}

.package-card {
  background: #ffffff;
  min-width: 290px;
  max-width: 290px;
  margin: 16px;
  // min-height: 640px;
  // max-height: 1100px;
}

.consultation-container{
  background-color: lightcyan;
  border-radius: 6px;
  padding: 5px;
}

.package-name {
  padding: 16px;
  background: #b2ebf2;
  min-height: 100px;
}

.packages-list {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.icon-size {
  height: 20px;
  width: 20px;
}

.group-card {
  background: #ffffff;
  margin: 16px;
  padding: 16px;
  // min-height: 463px;
  // max-height: 463px;
}

.include-tests {
  background-color: #ffffff;
  width: 4vw;
  border-radius: 4px;
  padding: 1px;
}

.common-tests {
  padding: 7px;
  margin: 16px;
  border: 1.5px solid cyan;
  background: #b2ebf2;
  border-radius: 6px;
}

.search-packages {
  width: 70vw;
  align-items: center;
}

.cart-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.remove-top-padding {
  padding-top: 0px !important;
}

.cart-icon {
  margin-top: 15px;
}

.indivdual-test-card {
  min-width: 295px;
  max-width: 295px;
  margin: 16px;
  min-height: 90px;
  // max-height: 463px;
}

.search-cart {
  width: 36vw;
  margin-bottom: -12px;
}

.cart-details {
  padding: 10px;
  background: white;
  border-radius: 10px;
}

.your-cart-text-level {
  // margin-bottom: 16px;
  padding-left: 10px;
}

.packages-list-items-container{
  padding: 16px;
  // min-height: 350px;
  max-height: 350px;
  overflow-y: scroll;
}

.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 30px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .bom-topic{
  font-size: 30px;
  font-weight: 300;
}